div#mod_context {
    border-top: 0.092vh solid rgba(var(--color_r), var(--color_g), var(--color_b), 0.3);
    font-family: var(--font_main_light);
    letter-spacing: 0.092vh;
    padding: 0.645vh 0vh;
    display: flex;
}

div#mod_context::before {
    content: "";
    border-left: 0.092vh solid rgba(var(--color_r), var(--color_g), var(--color_b), 0.3);
    align-self: flex-start;
    position: relative;
    left: -0.092vh;
    top: -1.111vh;
    height: 0.833vh;
}

div#mod_context::after {
    content: "";
    border-right: 0.092vh solid rgba(var(--color_r), var(--color_g), var(--color_b), 0.3);
    position: relative;
    right: -0.092vh;
    top: -1.111vh;
    height: 0.833vh;
}

div#mod_context_innercontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

div#mod_context h1 {
    font-size: 1.48vh;
    margin: 0vh;
    margin-bottom: -1vh;
    width: 98%;
}

div#mod_context i.mod_context_headerInfo {
    font-style: normal;
    font-size: 1.20vh;
    opacity: 0.5;
    text-align: right;
    display: inline-block;
    position: relative;
    bottom: 1.5vh;
    width: 100%;
}

div#mod_context_content {
    width: 100%;
    padding: 0.5vh 0;
}

div#mod_context .context-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 0;
}

div#mod_context .context-placeholder-text {
    font-size: 1.4vh;
    opacity: 0.5;
    color: rgba(var(--color_r), var(--color_g), var(--color_b), 1);
}
